# Mod 1 Movie Project

#### Scrape the DVD / Blue Ray sales from https://www.the-numbers.com/
1. Import request to get the webpage in a json format 
1. Use beautiful soup to parse the html
2. scrape the top DVD sales for 2018 / 2019
3. Scrape the top blue ray sales for 2018 / 2019
4. Built function top_100_sales that intakes a URL of a top 100 page and outputs a list of dictionaries
5. Output example: 
    {'Name': 'Mamma Mia!',
     'rank': 100,
     'Units Sold': '232687',
     'Consumer Spending': '2522707'}

In [5]:
import requests
from bs4 import BeautifulSoup

In [6]:
def top_100_sales(url):
    top_list = []
    top_dict = {}
    
    top_url = requests.get(url)
    top_soup = BeautifulSoup(top_url.content, 'html.parser')
    top_numbers = top_soup.find_all('td', class_='data')
    
    

    for i in range(0, len(top_numbers), 3):
        rank = top_numbers[i].text 
        rank_int = int(rank)
        units_sold = top_numbers[i+1].text 
        consumer_spending = top_numbers[i+2].text
        movie_name = top_soup.find_all('b')[rank_int - 1].get_text()
        top_dict['Name'] = movie_name
        top_dict['rank'] = rank_int
        top_dict['Units Sold'] = units_sold.replace(',', '')
        consumer_spending =  consumer_spending.replace('$', '')
        top_dict['Consumer Spending'] = consumer_spending.replace(',', '')
        top_list.append(top_dict)
        top_dict = {}
        
    return top_list

In [8]:
top_dvd_2018 = top_100_sales("https://www.the-numbers.com/home-market/dvd-sales/2018")

In [10]:
top_dvd_2018[0]

{'Name': 'The Greatest Showman',
 'rank': 1,
 'Units Sold': '1865146',
 'Consumer Spending': '22507136'}

In [11]:
top_dvd_2019 = top_100_sales('https://www.the-numbers.com/home-market/dvd-sales/2019')

In [12]:
top_dvd_2019[0]

{'Name': 'Aquaman',
 'rank': 1,
 'Units Sold': '842834',
 'Consumer Spending': '13889642'}

In [17]:
top_br_2018 = top_100_sales("https://www.the-numbers.com/home-market/bluray-sales/2018")

In [18]:
top_br_2018[0]

{'Name': 'Avengers: Infinity War',
 'rank': 1,
 'Units Sold': '3146365',
 'Consumer Spending': '72977031'}

In [19]:
top_br_2019 = top_100_sales("https://www.the-numbers.com/home-market/bluray-sales/2019")

In [20]:
top_br_2019[0]

{'Name': 'Avengers: Endgame',
 'rank': 1,
 'Units Sold': '2344419',
 'Consumer Spending': '54199501'}

#### Use the request library to pull the contents of the 2018 DVD sales web page

In [ ]:
# Top DVD Sales from 2018 https://www.the-numbers.com/home-market/dvd-sales/2018
# top_dvd = requests.get("https://www.the-numbers.com/home-market/dvd-sales/2018")
# top_dvd.status_code

Import beautiful soup.  Create variable dvd_soup to hold contents of top dvd 2018 sales web page

In [ ]:
# from bs4 import BeautifulSoup
# dvd_soup = BeautifulSoup(top_dvd.content, 'html.parser')

# DVD 2018 Sales

### Function that outputs top 100 page

In [ ]:
# def top_100_sales(url):
#     top_list = []
#     top_dict = {}
    
#     top_url = requests.get(url)
#     top_soup = BeautifulSoup(top_url.content, 'html.parser')
#     top_numbers = top_soup.find_all('td', class_='data')
    
    

#     for i in range(0, len(top_numbers), 3):
#         rank = top_numbers[i].text 
#         rank_int = int(rank)
#         units_sold = top_numbers[i+1].text 
#         consumer_spending = top_numbers[i+2].text
#         movie_name = top_soup.find_all('b')[rank_int - 1].get_text()
#         top_dict['Name'] = movie_name
#         top_dict['rank'] = rank_int
#         top_dict['Units Sold'] = units_sold.replace(',', '')
#         consumer_spending =  consumer_spending.replace('$', '')
#         top_dict['Consumer Spending'] = consumer_spending.replace(',', '')
#         top_list.append(top_dict)
#         top_dict = {}
        
#     return top_list

In [3]:
# top_dvd_2018 = top_100_sales("https://www.the-numbers.com/home-market/dvd-sales/2018")

In [4]:
# top_dvd_2018[99]

{'Name': 'Mamma Mia!',
 'rank': 100,
 'Units Sold': '232687',
 'Consumer Spending': '2522707'}

### Use find_all method to locate all b elements to find movie names

In [ ]:
# dvd_soup.find_all('b')[0].get_text()

### find_all method to locate all td elements with class data

In [ ]:
# dvd_numbers = dvd_soup.find_all('td', class_='data')
# print(dvd_numbers[0].text, dvd_numbers[1].text, dvd_numbers[2].text)

### For Loop that creates list of dictionaries. 
1. Loop through 100 movies
2. Keys = Name, Rank, Units Sold, Consumer Spending 
3. Create dictionary for each movie

In [ ]:
# dvd_2018 = []
# dict_dvd = {}

# for i in range(0, len(dvd_numbers), 3):
#     rank = dvd_numbers[i].text 
#     rank_int = int(rank)
#     units_sold = dvd_numbers[i+1].text 
#     consumer_spending = dvd_numbers[i+2].text
#     movie_name = dvd_soup.find_all('b')[rank_int - 1].get_text()
#     dict_dvd['Name'] = movie_name
#     dict_dvd['rank'] = rank_int
#     dict_dvd['Units Sold'] = units_sold.replace(',', '')
#     consumer_spending =  consumer_spending.replace('$', '')
#     dict_dvd['Consumer Spending'] = consumer_spending.replace(',', '')
#     dvd_2018.append(dict_dvd)
#     dict_dvd = {}
#     print(f'Movie Rank: {rank}, {movie_name}, Units Sold: {units_sold}, Consumer_spending: {consumer_spending}')

In [ ]:
print(dvd_2018[20])

# 2019 DVD Sales

In [ ]:
# top_dvd_2019 = requests.get("https://www.the-numbers.com/home-market/dvd-sales/2019")
# top_dvd_2019.status_code

In [ ]:
# from bs4 import BeautifulSoup
# dvd_soup_2019 = BeautifulSoup(top_dvd_2019.content, 'html.parser')

In [ ]:
# dvd_soup_2019.find_all('b')[0].get_text()

In [ ]:
# dvd_numbers_2019 = dvd_soup_2019.find_all('td', class_='data')
# print(dvd_numbers_2019[0].text, dvd_numbers_2019[1].text, dvd_numbers_2019[2].text)

In [ ]:
# dvd_2019 = []
# dict_dvd = {}

# for i in range(0, len(dvd_numbers_2019), 3):
#     rank = dvd_numbers_2019[i].text 
#     rank_int = int(rank)
#     units_sold = dvd_numbers_2019[i+1].text 
#     consumer_spending = dvd_numbers_2019[i+2].text
#     movie_name = dvd_soup_2019.find_all('b')[rank_int - 1].get_text()
#     dict_dvd['Name'] = movie_name
#     dict_dvd['rank'] = rank_int
#     dict_dvd['Units Sold'] = units_sold.replace(',', '')
#     consumer_spending =  consumer_spending.replace('$', '')
#     dict_dvd['Consumer Spending'] = consumer_spending.replace(',', '')
#     dvd_2019.append(dict_dvd)
#     dict_dvd = {}

In [ ]:
# print(dvd_2019[0])

# Blue Ray 2018 Sales

In [ ]:
# top_br = requests.get("https://www.the-numbers.com/home-market/bluray-sales/2018")
# top_br.status_code

In [ ]:
# br_soup = BeautifulSoup(top_br.content, 'html.parser')

In [ ]:
# br_soup.find_all('b')[0].get_text()

In [ ]:
# br_numbers = br_soup.find_all('td', class_='data')
# print(br_numbers[0].text, br_numbers[1].text, br_numbers[2].text)

In [ ]:
# br_2018 = []
# dict_br = {}

# for i in range(0, len(br_numbers), 3):
#     rank = br_numbers[i].text 
#     rank_int = int(rank)
#     units_sold = br_numbers[i+1].text 
#     consumer_spending = br_numbers[i+2].text
#     movie_name = br_soup.find_all('b')[rank_int - 1].get_text()
#     dict_br['Name'] = movie_name
#     dict_br['rank'] = rank_int
#     dict_br['Units Sold'] = units_sold.replace(',', '')
#     consumer_spending =  consumer_spending.replace('$', '')
#     dict_br['Consumer Spending'] = consumer_spending.replace(',', '')
    
#     br_2018.append(dict_br)
#     dict_br = {}

In [ ]:
# for i in range(len(br_2018)):
#     if br_2018[i]['Name'] not in str(front_titles_to_keep):
#         print(br_2018[i]['Name'])
#     else:
#         print('Good   ', br_2018[i]['Name'])

In [ ]:
# for i in range(len(br_2018)):
#     print(i, br_2018[i]['Name'])

In [ ]:
# # Testing Name 
# br_2018_titles = []
# for i in br_2018:
#     title = i['Name']
#     br_2018_titles.append(title)

In [ ]:
# front_titles_to_keep = []
# back_titles_to_keep = []
# for i in br_2018_titles:
#     if i[0:5] in str(movie_titles_2018):
#         front_titles_to_keep.append(i)
#     if i[-4:] in str(movie_titles_2018):
#         back_titles_to_keep.append(i)
        
# if len(front_titles_to_keep) == len(back_titles_to_keep):
#     print(True)
# else:
#     print(f'Front: {len(front_titles_to_keep)}, Back: {len(back_titles_to_keep)}')
#     print(front_titles_to_keep)

In [ ]:
# for i in front_titles_to_keep:
#     print(i)

In [ ]:
# len(front_titles_to_keep)

# Blue Ray 2019 Sales

In [ ]:
# top_br_2019 = requests.get("https://www.the-numbers.com/home-market/bluray-sales/2019")
# top_br_2019.status_code

In [ ]:
# br_soup_2019 = BeautifulSoup(top_br_2019.content, 'html.parser')

In [ ]:
# br_soup_2019.find_all('b')[0].get_text()

In [ ]:
# br_numbers_2019 = br_soup_2019.find_all('td', class_='data')
# print(br_numbers_2019[0].text, br_numbers_2019[1].text, br_numbers_2019[2].text)

In [ ]:
# br_2019 = []
# dict_br = {}

# for i in range(0, len(br_numbers_2019), 3):
#     rank = br_numbers_2019[i].text 
#     rank_int = int(rank)
#     units_sold = br_numbers_2019[i+1].text 
#     consumer_spending = br_numbers_2019[i+2].text
#     movie_name = br_soup_2019.find_all('b')[rank_int - 1].get_text()
#     dict_br['Name'] = movie_name
#     dict_br['rank'] = rank_int
#     dict_br['Units Sold'] = units_sold.replace(',', '')
#     consumer_spending =  consumer_spending.replace('$', '')
#     dict_br['Consumer Spending'] = consumer_spending.replace(',', '')
    
#     br_2019.append(dict_br)
#     dict_br = {}

# Top 2018 Domestic Movies

In [ ]:
# for i in range(100):
#     print(final_movie_list[i]['original_title'], movie_2018[i]['Name'])

In [ ]:
# final_movie_list[0]

In [ ]:
top_movies = requests.get("https://www.the-numbers.com/box-office-records/domestic/all-movies/cumulative/released-in-2018")
top_movies.status_code

In [ ]:
movies_soup = BeautifulSoup(top_movies.content, 'html.parser')

In [ ]:
movies_soup.find_all('b')[0].get_text()

In [ ]:
movies_numbers = movies_soup.find_all('td', class_='data')
print("Rank", movies_numbers[0].text)

In [ ]:
len(movies_numbers)

In [ ]:
top_movies_list = []
for i in range(100):
    name = movies_soup.find_all('b')[i].get_text()
    top_movies_list.append(name)

In [ ]:
print(top_movies_list)

In [ ]:
# print("Opening Weekend: ", movies_info[2].text)

In [ ]:
movies_info = movies_soup.find_all('td', align="right")
print("Domestic Box Office: ", movies_info[200].text)

In [ ]:
movie_2018 = []
dict_movie = {}
rank = 0

for i in range(0, len(movies_info), 4):
#     name = movies_soup.find_all('b')[rank].get_text()
    name = final_movie_list[rank]['original_title']
    rank += 1
    DMO = movies_info[i].text 
    OW = movies_info[i+2].text
    dict_movie['Name'] = name
    dict_movie['Rank'] = rank
    DMO = DMO.replace(',', '')
    dict_movie['Domestic Box Office'] = DMO.replace('$', '')
    OW = OW.replace(',', '')
    dict_movie['Opening Weekend'] = OW.replace('$', '')
    movie_2018.append(dict_movie)
    dict_movie = {}

In [ ]:
len(movies_info)

In [ ]:
movie_2018[9]

### Creating Tuples with Lists: Movie_2018, br_2018 and dvd_2018

In [ ]:
# def sql_tubles(business_list):
#     final_biz_list = []
#     for i in business_list:
#         business_tuple= (i['id'], i['name'], i['price'], i['review_count'],
#                        i['rating'], i['Address'],
#                        i['zip'], i['state'])
#         final_biz_list.append(business_tuple)
#     return final_biz_list

In [ ]:
final_movie_2018 = []
for i in movie_2018:
    movie_tuple = (i['Name'], i['Rank'], i['Domestic Box Office'], i['Opening Weekend'])
    final_movie_2018.append(movie_tuple)

In [ ]:
final_movie_2018[0]

In [ ]:
final_dvd_2018 = []
for i in dvd_2018:
    movie_tuple = (i['Name'], i['rank'], i['Units Sold'], i['Consumer Spending'])
    final_dvd_2018.append(movie_tuple)

In [ ]:
final_dvd_2018[0]

In [ ]:
final_br_2018 = []
for i in br_2018:
    movie_tuple = (i['Name'], i['rank'], i['Units Sold'], i['Consumer Spending'])
    final_br_2018.append(movie_tuple)

In [ ]:
final_br_2018[0]

In [ ]:
final_br_2019 = []
for i in br_2019:
    movie_tuple = (i['Name'], i['rank'], i['Units Sold'], i['Consumer Spending'])
    final_br_2019.append(movie_tuple)

In [ ]:
final_br_2019[0]

In [ ]:
final_dvd_2019 = []
for i in dvd_2019:
    movie_tuple = (i['Name'], i['rank'], i['Units Sold'], i['Consumer Spending'])
    final_dvd_2019.append(movie_tuple)

In [ ]:
final_dvd_2019[5]

## Setting up the DB

In [ ]:
#import 
import mysql.connector 
from mysql.connector import errorcode
import config
import json

In [ ]:
#connecting to AWS DB instance 
cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    password = config.passwd)

print(cnx)

In [ ]:
cursor = cnx.cursor()

In [ ]:
db_name = 'Movies'

In [ ]:
def create_database(cursor, database):
    try:
        cursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(database))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)

try:
    cursor.execute("USE {}".format(db_name))
except mysql.connector.Error as err:
    print("Database {} does not exists.".format(db_name))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor, db_name)
        print("Database {} created successfully.".format(db_name))
        cnx.database = db_name
    else:
        print(err)
        exit(1)

In [ ]:
cnx.commit()
cursor.close()
cnx.close()

In [ ]:
## CONNECT AGAIN FOR INSERTING DATA INTO TABLES

cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    password = config.passwd,
    database = db_name
)
cursor = cnx.cursor()
print(cnx)

In [ ]:
# Create a table for the dvd_2018
create_dvd = """
CREATE TABLE dvd_2018 (
name TEXT NOT NULL,
rank TEXT NOT NULL,
units_sold TEXT,
consumer_spending TEXT
);
"""

In [ ]:
cursor.execute(create_dvd)

In [ ]:
stmt = "INSERT INTO dvd_2018 (name, rank, units_sold, consumer_spending) VALUES (%s, %s, %s, %s)"
cursor.executemany(stmt, final_dvd_2018)
cnx.commit()

In [ ]:
# Create a table for the dvd_2019
create_dvd_2019 = """
CREATE TABLE dvd_2019 (
name TEXT NOT NULL,
rank TEXT NOT NULL,
units_sold TEXT,
consumer_spending TEXT
);
"""

In [ ]:
cursor.execute(create_dvd_2019)

In [ ]:
stmt = "INSERT INTO dvd_2019 (name, rank, units_sold, consumer_spending) VALUES (%s, %s, %s, %s)"
cursor.executemany(stmt, final_dvd_2019)
cnx.commit()

In [ ]:
# Create a table for the br_2018
create_br = """
CREATE TABLE br_2018 (
name TEXT NOT NULL,
rank TEXT NOT NULL,
units_sold TEXT,
consumer_spending TEXT
);
"""

In [ ]:
cursor.execute(create_br)

In [ ]:
stmt = "INSERT INTO br_2018 (name, rank, units_sold, consumer_spending) VALUES (%s, %s, %s, %s)"
cursor.executemany(stmt, final_br_2018)
cnx.commit()

In [ ]:
# Create a table for the br_2019
create_br_2019 = """
CREATE TABLE br_2019 (
name TEXT NOT NULL,
rank TEXT NOT NULL,
units_sold TEXT,
consumer_spending TEXT
);
"""

In [ ]:
cursor.execute(create_br_2019)

In [ ]:
stmt = "INSERT INTO br_2019 (name, rank, units_sold, consumer_spending) VALUES (%s, %s, %s, %s)"
cursor.executemany(stmt, final_br_2019)
cnx.commit()

In [ ]:
# Create a table for the top_movies_2018
create_top_movies_2018 = """
CREATE TABLE top_movies_2018 (
name TEXT NOT NULL,
rank TEXT NOT NULL,
Domestic_Box_Office TEXT,
Opening_Weekend TEXT
);
"""

In [ ]:
cursor.execute(create_top_movies_2018)

In [ ]:
stmt = "INSERT INTO top_movies_2018 (name, rank, Domestic_Box_Office, Opening_Weekend) VALUES (%s, %s, %s, %s)"
cursor.executemany(stmt, final_movie_2018)
cnx.commit()

In [ ]:
cursor.close()
cnx.close()

# API Call

In [ ]:
key = '5b390aa1a8d5f85e35a82e52d7cebff4'

In [ ]:
import requests

In [ ]:
movie = requests.get(f'https://api.themoviedb.org/3/search/movie?api_key={key}&query=Black+Panther')

In [ ]:
movie_data = movie.json()
movie_data

In [ ]:
bp = requests.get(f'https://api.themoviedb.org/3/movie/284054?api_key={key}&language=en÷-US')

In [ ]:
bp_data = bp.json()
bp_data

In [ ]:
top_movies_100 = top_movies_list
top_movies_100[6] = 'The Grinch'
top_movies_100[14] = 'Spider-Man: Into the Spider-Verse'
top_movies_100[40] = 'Game Night'
top_movies_100[85] = 'Nobody’s Fool'
top_movies_100[98] = 'Won’t You Be My Neighbor?'
top_movies_100[22] = 'Oceans 8'
top_movies_100

In [ ]:
test = requests.get(f'https://api.themoviedb.org/3/search/movie?api_key={key}&query=Oceans 8')

In [ ]:
test_movie = test.json()
test_movie['results'][0]

In [ ]:
import time
count = 0

for i in top_movies_100:
    movie = requests.get(f'https://api.themoviedb.org/3/search/movie?api_key={key}&query={i}')
    movie_json = movie.json()
    # make 3 for loops
    # when counter = 39 sleep 10 seconds 

    print(count, movie_json["results"][0]["id"], movie_json["results"][0]["original_title"], movie_json["results"][0]["vote_average"])
    count += 1
    if count % 15 == 0:
        time.sleep(10)

In [ ]:

count = 0
new_movie_list_dict = []
movie_dict = {}

for i in top_movies_100:
    
    movie = requests.get(f'https://api.themoviedb.org/3/search/movie?api_key={key}&query={i}')
    movie_json = movie.json()
    # make 3 for loops
    # when counter = 39 sleep 10 seconds 

#     print(count, movie_json["results"][0]["id"], movie_json["results"][0]["original_title"], movie_json["results"][0]["vote_average"])
    movie_id = movie_json["results"][0]["id"]
    movie_info = requests.get(f'https://api.themoviedb.org/3/movie/{movie_id}?api_key={key}&language=en÷-US')
    movie_data = movie_info.json()
    new_movie_list_dict.append(movie_data)
    time.sleep(1.3)

In [ ]:
count = 0
final_movie_list = []
movie_dict = {}
for i in range(len(new_movie_list_dict)):
    m = new_movie_list_dict
    movie_dict['id'] = m[i]['id']
    movie_dict['original_title'] = m[i]['original_title']
    movie_dict['budget'] = m[i]['budget']
    movie_dict['vote_average'] = m[i]["vote_average"]
    movie_dict['revenue'] = m[i]['revenue']
    movie_dict['release_date'] = m[i]['release_date']
    movie_dict['runtime'] = m[i]['runtime']
    genres = m[i]['genres']
    for i in range(len(genres)):
        movie_dict[f'genre_{i}'] = genres[i]['name']
    final_movie_list.append(movie_dict)
    movie_dict = {}

In [ ]:
final_movie_list[0]

In [ ]:
count = 0
final_movie_list_2018 = []
for n in range(len(final_movie_list)):
    i = final_movie_list[n]
       
    if len(i) == 8:
        movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
                       i['revenue'], i['release_date'], i['runtime'], i['genre_0'])
        stmt = "INSERT INTO top_movies_info (id, original_title, budget, vote_average, revenue, release_date, runtime, genre) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(stmt, movie_tuple)
        
    elif len(i) == 9:
        movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
                       i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
                       i['genre_1'])
        stmt = "INSERT INTO top_movies_info (id, original_title, budget, vote_average, revenue, release_date, runtime, genre, genre_1) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(stmt, movie_tuple)
        
    elif len(i) == 10:
        movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
                       i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
                       i['genre_1'], i['genre_2'])
        stmt = "INSERT INTO top_movies_info (id, original_title, budget, vote_average, revenue, release_date, runtime, genre, genre_1, genre_2) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(stmt, movie_tuple)
        
    elif len(i) == 11:
        movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
                       i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
                       i['genre_1'], i['genre_2'], i['genre_3'])
        stmt = "INSERT INTO top_movies_info (id, original_title, budget, vote_average, revenue, release_date, runtime, genre, genre_1, genre_2, genre_3) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(stmt, movie_tuple)
        
    elif len(i) == 12:
        movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
                       i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
                       i['genre_1'], i['genre_2'], i['genre_3'], i['genre_4'])
        stmt = "INSERT INTO top_movies_info (id, original_title, budget, vote_average, revenue, release_date, runtime, genre, genre_1, genre_2, genre_3, genre_4) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(stmt, movie_tuple)
        
    elif len(i) == 13:
        movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
                       i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
                       i['genre_1'], i['genre_2'], i['genre_3'], i['genre_4'], i['genre_5'])
        stmt = "INSERT INTO top_movies_info (id, original_title, budget, vote_average, revenue, release_date, runtime, genre, genre_1, genre_2, genre_3, genre_4, genre_5) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(stmt, movie_tuple)
        
    else: 
        movie_tuple = (i['id'], i['original_title'], i['budget'], i['vote_average'], 
                       i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
                       i['genre_1'], i['genre_2'], i['genre_3'], i['genre_4'], i['genre_5'], i['genre_6'])
        stmt = "INSERT INTO top_movies_info (id, original_title, budget, vote_average, revenue, release_date, runtime, genre, genre_1, genre_2, genre_3, genre_4, genre_5, genre_6) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(stmt, movie_tuple)
    
    print(count)
#     print(f'movie_tuple = {movie_tuple}')
    count += 1
    final_movie_list_2018.append(movie_tuple)

In [ ]:
final_movie_list_2018[22][1]

In [ ]:
#List of all the movie titles 
movie_titles_2018 = []
for i in final_movie_list_2018:
    title = i[1]
    movie_titles_2018.append(title)

# Adding The Movie DB API to SQL

In [ ]:
cnx = mysql.connector.connect(
    host = config.host,
    user = config.user,
    password = config.passwd,
    database = db_name
)
cursor = cnx.cursor()
print(cnx)

In [ ]:
# (i['id'], i['original_title'], i['budget'], i['vote_average'], 
#                        i['revenue'], i['release_date'], i['runtime'], i['genre_0'], 
#                        i['genre_1'], i['genre_2'], i['genre_3'], i['genre_4'], i['genre_5'], i['genre_6'])
#creating table:
# Create a table for the top_movies_2018
create_top_movies_info = """
CREATE TABLE top_movies_info (
id TEXT NOT NULL,
original_title TEXT NOT NULL,
budget TEXT NOT NULL,
vote_average TEXT,
revenue TEXT,
release_date DATETIME, 
runtime REAL,
genre TEXT,
genre_1 TEXT,
genre_2 TEXT,
genre_3 TEXT,
genre_4 TEXT,
genre_5 TEXT,
genre_6 TEXT
);
"""

In [ ]:
cursor.execute(create_top_movies_info)

In [ ]:
cnx.commit()

In [ ]:
cursor.close()
cnx.close()